* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  color: #4e2a84 !important;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.5s;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #4e2a84;
}

.navbar-toggler:hover {
  background-color: #fff;
}

.header .navbar-nav {
  text-align: center !important;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #4e2a84;
  width: 100%;
}

.header .navbar {
  padding: 0.5rem;
}

.header .navbar-nav {
  text-align: right;
}

.header .navbar-brand {
  font-size: 2rem;
  margin-left: 5rem;
  letter-spacing: 2px;
  font-weight: 500;
  transform: scaleX(1.2);
}

.header .nav-item a {
  color: #fff !important;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 2rem;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.header .navbar-nav .nav-item .active {
  color: #ff0e83 !important;
}

.header .navbar-nav .nav-item a:hover {
  color: #ff0e83 !important;
}

.carousel {
  position: relative;
  height: 37.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.carousel h1 {
  font-size: 60px;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  z-index: 2;
}

.carousel p {
  padding: 10px 0 15px 0;
  opacity: 0.8;
  z-index: 2;
}

.carousel button,
.services button,
.footer button {
  background-color: #ff0e83;
  padding: 0.75rem 2rem;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.7s;
  z-index: 2;
}

.carousel button:hover,
.services button:hover {
  background-color: #fff;
  border: 1px solid #ff0e83;
  color: #000;
  cursor: pointer;
}

.statistic {
  padding-top: 3rem;
}

.statistic .column {
  width: 25%;
  padding: 0.9375rem;
}

.statistic .item {
  text-align: center;
}

.statistic .item p {
  font-size: 2rem;
  color: #4e2a84;
  margin-bottom: 0.625rem;
  font-weight: 600;
}

.statistic .item span {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.4rem;
}

/* .video .row {
  display: flex;
  margin: 0 -0.9375rem;
} */

.services {
  background-image: url(./../images/s1.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  margin-top: 5rem;
  text-align: center;
  padding-bottom: 4rem;
}

.services h1:nth-child(1) {
  text-align: center;
  padding: 4rem 0 3rem 0;
  font-size: 2.8rem;
  color: #fff;
  letter-spacing: 2px;
}

.services .container .column {
  width: 25%;
}
/* 
.services .container .col .items {
  width: 100%;
} */

.services .container .item:hover i {
  color: #ff0e83;
}

.services .container .item i {
  font-size: 3rem;
  color: #4e2a84;
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 100%;
  border: 1px solid #4e2a84;
  transition: all 0.5s;
}
.services .container .item h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}
.services .container .item p {
  font-weight: 100;
  line-height: 180%;
  padding: 0.5rem 0 1rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-section h1 {
  text-align: center;
  padding: 3rem 0;
  font-weight: 700;
  letter-spacing: 2px;
}

.gallery .grid-item {
  text-align: center;
  padding: 1rem;
  font-size: 30px;
  position: relative;
}

.gallery img {
  display: block;
  width: 100%;
  filter: brightness(80%);
}

/* .gallery .item1 img,
.gallery .item6 img {
  height: 100%;
} */

.gallery .item1 {
  grid-column: 1 / span 2;
}

.gallery .item6 {
  grid-column: 3 / span 2;
}

.gallery .details .lower {
  font-weight: 300;
}

.gallery .details {
  position: absolute;
  top: 20%;
  right: 10%;
  color: #fff;
}

.gallery .grid-item::after {
  position: absolute;
  content: "";
  top: 45%;
  left: 10%;
  width: 80%;
  height: 5px;
  background-color: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.gallery .grid-item:hover::after {
  top: 28%;
  opacity: 100;
  visibility: unset;
}

.gallery .grid-item .effect-span {
  position: relative;
  transition: all 0.5s;
}

.gallery .grid-item:hover .effect-span {
  transform: translate(0, -50%);
  display: block;
}

.gallery .grid-item:hover .effect {
  transform: translate(0%, -50%);
  opacity: 100;
  visibility: unset;
}

.gallery .grid-item .effect {
  position: absolute;
  bottom: 0;
  left: 15%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.team {
  background-color: #4e2a84;
  padding: 3rem 0;
  margin-top: 3rem;
}

.team h1 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  font-weight: 600;
}

.team .row {
  flex-wrap: wrap;
}

.team .col {
  width: calc(100% / 3);
}

.team .item img {
  width: 100%;
  display: block;
}

.team .item {
  position: relative;
  margin-bottom: 0.9375rem;
  transition: all 0.3s;
  overflow: hidden;
}

.team .detail {
  position: absolute;
  color: #fff;

  top: 50%;
  left: -100%;
  text-align: center;
  transform: translate(0, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
.team .item:hover .info {
  display: none;
}
.team .item:hover .detail {
  opacity: 100%;
  left: 0;
  visibility: visible;
}

.team .detail h1 {
  margin-top: 30%;
  color: #c62584;
}

.team .detail p {
  margin-bottom: 20%;
}
.team .detail .social i {
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid #fff;
  line-height: 2.3rem;
}
.team .info {
  background-color: #ff0e83;
  color: #fff;
  padding: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.team .info p {
  font-size: 24px;
}

.testimonials {
  background-image: url(./../images/cc1.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.testimonials .container {
  position: relative;
}
.testimonials h1 {
  padding-top: 3rem;
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 2px;
}

.testimonials .container .details {
  border: 5px solid #2cbeff;
  background: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  margin-top: 2rem;
}

.testimonials .container .details span {
  letter-spacing: 2px;
  word-spacing: 2px;
}

.testimonials .container .details p {
  padding: 1rem;
  color: #fff;
  font-weight: 600;
}

.testimonials .container .details i {
  color: #2cbeff;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.slick-slide {
  height: initial;
}

.slick-dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

.slick-dots li button:before {
  font-size: 1rem;
}

.contact .form .col {
  flex-wrap: wrap;
  width: 50%;
}

.contact .form .col {
  width: 50%;
}

.w-full {
  width: 100%;
}

.contact h1 {
  margin-top: 3rem;
}

.contact .form h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  padding: 1rem;
}

.contact .form .form-group input,
.contact .form .form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  border: 1px solid #666666;
  margin-bottom: 0.5rem;
}

.contact .form .form-group textarea {
  min-height: 10rem;
}

.contact .form .form-group button {
  background-color: #ff0e83;
  color: #fff;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 20px;
  transition: all 0.5s;
}

.contact .form .form-group button:hover {
  color: #fff;
  background-color: #000;
}

.map {
  margin-top: 3rem;
  padding: 0 1rem;
}

.how-to-contact {
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.how-to-contact i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #4e2a84;
}

.how-to-contact p {
  margin: initial;
  margin-top: 0.4rem;
  font-weight: 100;
  letter-spacing: 2px;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.intro .item img {
  display: block;
}

.intro .item-2 {
  grid-column: 2 / span 2;
}

.intro .item-4 {
  grid-column: 1 / span 2;
}

.intro .item-9 {
  grid-column: 3 / span 2;
}

.intro .item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .item h1 {
  color: #fff;
}

.intro .item p {
  color: #c1c1c1;
  padding: 0 5%;
  font-weight: 200;
  margin-top: 0.5rem;
  word-spacing: 1px;
  line-height: 200%;
}
.intro .item:nth-child(1) {
  background-color: #4e2a84;
}

.intro .item:nth-child(3) {
  background-color: #ff0e83;
}

.intro .item:nth-child(4) {
  background-color: #ed6398;
}

.intro .item:nth-child(6) {
  background-color: #836eaa;
}

.intro .item:nth-child(7) img {
  margin-top: -0.5px;
  border-bottom: 2px solid #ff0e83;
}
.intro .item:nth-child(8) {
  background-color: #4e2a84;
}

.footer {
  padding: 3rem 0;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 1px;
}

.footer h1 {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #ff0e83;
  font-weight: 600;
  padding-bottom: 1rem;
}

.footer i {
  width: 2.3rem;
  height: 2.3rem;
  line-height: 2.3rem;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  margin-right: 0.5rem;
}

.footer .time ul li {
  color: #fff;
  border-bottom: 1px dotted;
  padding: 0px 0px 7px;
  margin-bottom: 10px;
  line-height: 120%;
}

.footer input[type="email"] {
  outline: none;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  padding: 10px;
}

.footer button {
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: block;
  margin-top: 1rem;
}

.footer .author {
  text-align: center;
  padding-top: 2rem;
}

.footer .author span {
  color: #ff0e83;
  transition: all 0.5s;
}

.footer .author span:hover {
  color: #fff;
}

/* RESPONSIVE */

/* 992px => 1200px */
@media screen and (max-width: 1200px) {
}

/* 768 => 992px */
@media screen and (max-width: 992px) {
  .statistic .item span {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1rem;
  }

  .services .container .column {
    width: 50%;
  }
  .services .container .item p {
    font-weight: 100;
    line-height: 150%;
    padding: initial;
  }

  .services .container .item {
    padding-bottom: 2rem;
  }
  .footer .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

  .team .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* 576px >= 768px */
@media screen and (max-width: 768px) {
  .toggle-sidebar {
    display: block;
  }

  .carousel {
    padding: 0 1rem;
  }

  .intro {
    grid-template-columns: 1fr;
  }

  .intro .item-2,
  .intro .item-4,
  .intro .item-9 {
    grid-column: initial;
  }

  .intro .item-9 {
    display: none;
  }

  .statistic .column {
    width: 50%;
  }

  .services .container .column {
    width: 50%;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .gallery .item1,
  .gallery .item6 {
    grid-column: 1 / span 2;
  }

  .gallery .item2,
  .gallery .item3,
  .gallery .item4,
  .gallery .item5 {
    grid-column: initial;
  }
  /* 
  .gallery .item1 {
    grid-column: 1 / span 3;
  }

  .gallery .item6 {
    grid-column: 1 / span 4;
    grid-row: 4;
  } */
}

/* < 576px */
@media screen and (max-width: 576px) {
  .carousel h1 {
    font-size: 2.5rem;
  }

  .carousel p {
    font-size: 0.875rem;
    text-align: center;
  }

  .intro {
    grid-template-columns: 1fr;
  }

  .video .col {
    width: 100%;
  }

  .team .col {
    width: 100%;
  }

  .contact .form .col {
    width: 100%;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery .item1,
  .gallery .item2,
  .gallery .item3,
  .gallery .item4,
  .gallery .item5,
  .gallery .item6 {
    grid-column: initial;
  }

  .services .container .column {
    width: 100%;
  }

  .team .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .testimonials .container .details {
    padding: 1rem;
    border: 4px solid #ff0e83;
  }

  .slick-dots {
    bottom: 5%;
  }

  .footer .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
